{
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "plugin:react-hooks/recommended",
    "plugin:jest-dom/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "comma-dangle": 0,
    "implicit-arrow-linebreak": "off",
    "one-var": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-boolean-value": 0,
    "react/jsx-curly-newline": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "simple-import-sort/sort": "off",
    "sort-imports": "off",
    "sort-keys": "off"
  }
}